<%= form_with(model: @embed) do |form| %>
  <%= form.hidden_field :page_id %>
  <%= form.hidden_field :embedded_page_id %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, value: @embedded_page.title, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div>
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
